In [6]:
import pandas as pd
df1 = pd.read_csv("amaan _20110011.csv")

df1

In [7]:
df1
df = pd.DataFrame()

In [8]:
df["Comments"] = df1["Comments"]
df["20110011"] = df1["label"]

In [9]:
df2 = pd.read_csv("annotat_20110200.csv")

In [10]:
df

                                              Comments  20110011
0    Elon Musk set us all up to see him as a heroic...        -1
1    AL politician admits to beating children on Na...        -1
2    NID chara Hobe na vaccine nawa jabe na? :/ Tha...         0
3                         I know right? HOW COULD THEY         0
4         Among us homies india is the most hated one.        -1
..                                                 ...       ...
97                                            ðŸ’¯ agreed         0
98   Oh- even better!!!! Than countries like Indone...         1
99           Great work! Hope your cousin keeps it up.         0
100  much needed in this time... \n\nPray for Bangl...         1
101                               He was right indeed.         0

[102 rows x 2 columns]

In [11]:
df2

                                              Comments  Sentiment
0    Elon Musk set us all up to see him as a heroic...         -1
1    AL politician admits to beating children on Na...         -1
2    NID chara Hobe na vaccine nawa jabe na? :/ Tha...         -1
3                         I know right? HOW COULD THEY          0
4         Among us homies india is the most hated one.         -1
..                                                 ...        ...
97                                            ðŸ’¯ agreed          0
98   Oh- even better!!!! Than countries like Indone...          1
99           Great work! Hope your cousin keeps it up.          1
100  much needed in this time... \n\nPray for Bangl...          1
101                               He was right indeed.          0

[102 rows x 2 columns]

In [12]:

df["20110200"] = df2["Sentiment"]

In [13]:
df3 = pd.read_csv("23120007_labels - my_results.csv")

In [14]:
df3

                                              Comments  Label
0    Elon Musk set us all up to see him as a heroic...     -1
1    AL politician admits to beating children on Na...     -1
2    NID chara Hobe na vaccine nawa jabe na? :/ Tha...      0
3                         I know right? HOW COULD THEY     -1
4         Among us homies india is the most hated one.     -1
..                                                 ...    ...
97                                            ðŸ’¯ agreed      1
98   Oh- even better!!!! Than countries like Indone...      1
99           Great work! Hope your cousin keeps it up.      1
100  much needed in this time... \n\nPray for Bangl...      1
101                               He was right indeed.      1

[102 rows x 2 columns]

In [15]:
df["23120007"]=df3["Label"]

In [16]:
df

,Comments,20110011,20110200,23120007
0,Elon Musk set us all up to see him as a heroic...,-1,-1,-1
1,AL politician admits to beating children on Na...,-1,-1,-1
2,NID chara Hobe na vaccine nawa jabe na? :/ Tha...,0,-1,0
3,I know right? HOW COULD THEY,0,0,-1
4,Among us homies india is the most hated one.,-1,-1,-1
...,...,...,...,...
97,ðŸ’¯ agreed,0,0,1
98,Oh- even better!!!! Than countries like Indone...,1,1,1
99,Great work! Hope your cousin keeps it up.,0,1,1
100,much needed in this time... \n\nPray for Bangl...,1,1,1
101,He was right indeed.,0,0,1

In [17]:
import numpy as np

def calculate_majority(row):
    numerical_values = [row['20110011'], row['20110200'], row['23120007']]
    positive_count = numerical_values.count(1)
    negative_count = numerical_values.count(-1)
    neutral_count = numerical_values.count(0)
    
    if positive_count > negative_count and positive_count > neutral_count:
        return 1
    elif negative_count > positive_count and negative_count > neutral_count:
        return -1
    else:
        return 0

df["Sentiment_Human"] = df.apply(calculate_majority, axis=1)

In [18]:
df

,Comments,20110011,20110200,23120007,Sentiment_Human
0,Elon Musk set us all up to see him as a heroic...,-1,-1,-1,-1
1,AL politician admits to beating children on Na...,-1,-1,-1,-1
2,NID chara Hobe na vaccine nawa jabe na? :/ Tha...,0,-1,0,0
3,I know right? HOW COULD THEY,0,0,-1,0
4,Among us homies india is the most hated one.,-1,-1,-1,-1
...,...,...,...,...,...
97,ðŸ’¯ agreed,0,0,1,0
98,Oh- even better!!!! Than countries like Indone...,1,1,1,1
99,Great work! Hope your cousin keeps it up.,0,1,1,1
100,much needed in this time... \n\nPray for Bangl...,1,1,1,1
101,He was right indeed.,0,0,1,0

In [19]:
df

,Comments,20110011,20110200,23120007,Sentiment_Human
0,Elon Musk set us all up to see him as a heroic...,-1,-1,-1,-1
1,AL politician admits to beating children on Na...,-1,-1,-1,-1
2,NID chara Hobe na vaccine nawa jabe na? :/ Tha...,0,-1,0,0
3,I know right? HOW COULD THEY,0,0,-1,0
4,Among us homies india is the most hated one.,-1,-1,-1,-1
...,...,...,...,...,...
97,ðŸ’¯ agreed,0,0,1,0
98,Oh- even better!!!! Than countries like Indone...,1,1,1,1
99,Great work! Hope your cousin keeps it up.,0,1,1,1
100,much needed in this time... \n\nPray for Bangl...,1,1,1,1
101,He was right indeed.,0,0,1,0

In [20]:
dfg= pd.read_csv("102_final.csv")
dfg

                                              Comments  majority_label
0    Elon Musk set us all up to see him as a heroic...              -1
1    AL politician admits to beating children on Na...              -1
2    NID chara Hobe na vaccine nawa jabe na? :/ Tha...              -1
3                         I know right? HOW COULD THEY              -1
4         Among us homies india is the most hated one.              -1
..                                                 ...             ...
97                                            ðŸ’¯ agreed               1
98   Oh- even better!!!! Than countries like Indone...               1
99           Great work! Hope your cousin keeps it up.               1
100  much needed in this time... \n\nPray for Bangl...               1
101                               He was right indeed.               1

[102 rows x 2 columns]

In [21]:
df["Sentiment_model"]=dfg["majority_label"]

In [22]:
df

,Comments,20110011,20110200,23120007,Sentiment_Human,Sentiment_model
0,Elon Musk set us all up to see him as a heroic...,-1,-1,-1,-1,-1
1,AL politician admits to beating children on Na...,-1,-1,-1,-1,-1
2,NID chara Hobe na vaccine nawa jabe na? :/ Tha...,0,-1,0,0,-1
3,I know right? HOW COULD THEY,0,0,-1,0,-1
4,Among us homies india is the most hated one.,-1,-1,-1,-1,-1
...,...,...,...,...,...,...
97,ðŸ’¯ agreed,0,0,1,0,1
98,Oh- even better!!!! Than countries like Indone...,1,1,1,1,1
99,Great work! Hope your cousin keeps it up.,0,1,1,1,1
100,much needed in this time... \n\nPray for Bangl...,1,1,1,1,1
101,He was right indeed.,0,0,1,0,1